# Base de datos
DATABASE_URL=mysql://root:password@localhost:3306/concentration_app

# JWT
# Clave de tokens, se debe cambiar en producción
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
# Tiempo de expiración del token en segundos (1 hora)
JWT_ACCESS_TOKEN_EXPIRES=3600

# Flask
# Archivo principal de Flask
FLASK_APP=run.py
# Entorno de Flask
FLASK_ENV=development
# Clave secreta de Flask, se debe cambiar en producción
# Debe ser distinta a la clave JWT
SECRET_KEY=your-super-secret-flask-key
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000

# Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
# Correo que enviará los emails, cambiar
MAIL_USERNAME=your-email@gmail.com
# Contraseña de la aplicación, no la del correo (Yate)
MAIL_PASSWORD=your-app-password

# Configuraciones de desarrollo
DEBUG=True # Cambiar a False en producción